/* ------- --- FONDO --- ------- */

body{
    min-height: 100vh;
    background-image:linear-gradient(rgba(0,0,0, 0.5),rgba(0,0,0,0.5)), url(../images/alabanza.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

/* ------- --- BARRA DE NAVEGACIÓN --- ------- */

nav{
    background-color:rgba(0, 0, 0, 0.3);
    border-bottom: 0px solid;
    min-height:14vh;
}
.navbar-brand span{
    color:white;
}

.navbar-nav a{
    color:white!important;
}
.navbar-nav a:hover{
    border-bottom: 1px solid white;
    color:white!important;
}

.navbar-toggler{
    border: 1px solid gray!important;
}

/* ------- --- RADIO --- ------- */

.radio{
    padding: 100px 0;

}
#aplayer{
    padding: 30px;
}

/* ------- --- LIVE --- ------- */

.live{
    display:grid;
    grid-template-columns: 5% 13% 1fr 13% 5%;
    padding-bottom: 32.55%;
    position: relative;
    height: 0;
}
.live iframe, .live object, .live embed{ 
    margin-top: 35px;
    grid-column: 3/4;
    grid-row:1/1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
@media (max-width:1024px){
    .live{
        grid-template-columns: 5% 1fr 5%;
        padding-bottom: 50.55%;
    }
    .live iframe, .live object, .live embed{ 
        grid-column: 2/3;
    }
}



