@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
    font-display: auto;
}
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}
a:link, a:hover{
    text-decoration: none;
}

body {
    position: relative;
    min-height: 100vh;
}
/* ------- --- BOTONES DE MULTIMEDIA --- ------- */

.media{
    background-color: #a5091b;
    flex-direction: row-reverse;
    align-items: center;
    height: 3.5vh;
    min-height: 35px;
}
.media-links{
    display: inline-flex;
    list-style: none;
    margin: 0 15%;
}
.media-links li{
    padding: 0 10px;
}
.media-links li a{
    color: white;
    padding: 3px 5px;
    font-size: 15px;
    background: #8a0918;
    border-radius: 3px 3px;
}
.media-links li a img{
    position: relative;
    width: 20px;
    bottom:3px;
}
.media-links li a:hover{
    background-color: #f04d02;
}
@media (max-width: 518px){
    .media-links{
        margin: 0 0;
    }
}
@media (max-width: 400px){
    .media{
        min-height: 70px;
    }
    .media-links{
        margin: 0 0;
    }
    .media-links li{
        padding: 2px 10px;
    }
}


/* ------- --- BARRA DE NAVEGACIÓN --- ------- */

header{
    z-index: 1;
}
nav{
    background-color: white;
    border-bottom: 1px solid rgb(201, 201, 201);
    min-height:14vh;
}
.navbar-brand span{
    font-size: 15px;
    padding-left: 5px;
}
.logo{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
.logo img{
    width: 80px;
}
.navbar-nav{
    align-items: center;
}
.navbar-nav a{
    text-transform: uppercase;
}
.navbar-nav a:hover{
    border-bottom: 1px solid red;
}
.icono{
    font-size: 30px;
}
#facebook{
    color:#3b5998;
}
#youtube{
    color:#ff0000;
}
#instagram{
    color: transparent;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text;
}
#pinterest{
    color:#d50c22;
}
@media only screen and (max-width: 500px){
    .navbar-brand{
        width: 18%;
    }
    .navbar-brand span{
        display: none;
    }
}
@media only screen and (min-width: 992px){
    header{
        position: sticky;
        top: 0;
        width: 100%;
        transition: all 0.5s;
    }
    header.scrollUp{
        transform: translateY(-107px);
    }
}
@media (min-width:992px) and (max-width:1021px){
    nav{
        font-size: 14px;
    }
}

/* ------- --- CAROUSEL --- ------- */

#Slide{
    z-index: -1;
}
.carousel-item img{
    object-fit: cover;
    height: 82.5vh;
}
.carousel-caption {
    position: absolute;
    right: 25%;
    bottom: 20px;
    left: 25%;
}
.empieza-cambiar {
    top:50%;
    transform: translateY(-50%);
    bottom: initial!important;
    background: rgba(0,0,0, 0.5);
    border-radius: 10px;
}
.empieza-cambiar h3{
    font-size: 32px;
}

/* ------- --- BANNER --- ------- */

#banner .titulo {
    top:50%;
    transform: translateY(-50%);
    text-transform: uppercase;
}
#banner .carousel-item img{
    object-fit: cover;
    object-position: 55% 15%;
    height: 35vh;
    filter: brightness(50%);
}

/* ------- --- ESTANDAR DE LAS PAGINAS --- ------- */ 
section{
    padding: 50px 0;
}
section .container {
    padding-bottom: 50px;
}
section .container h2 {
    text-align:center;
    padding-bottom: 20px;
}
section .container p{
    text-align: justify;
}
section .container h2::after{
    content:'';
    background: #a5091b;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}

/* ------- --- IGLESIA --- ------- */

#iglesia {
    padding: 70px 0px;
}

#iglesia h2{
    text-align: center;
    padding-bottom: 20px;
}
#iglesia h2::after{
    content:'';
    background: #a5091b;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;

}


/* ------- --- LIVE --- ------- */

#live{
    padding:50px 0;
    background-image:linear-gradient(rgba(0,0,0, 0.5),rgba(0,0,0,0.5)),url(../images/visualizanos.webp);
    background-size: cover;
    text-align: center;
    color:white;
    height: 400px;
}
.visualizanos a p, .escuchanos a p{
    text-align: center;
    color:white;
}
.visualizanos a img, .escuchanos a img{
    width: 20vh;
    height: 20vh;
    padding: 15px 15px;
    background-color:rgb(139,8,23);
    border-radius: 25%;
}
.visualizanos a img:hover, .escuchanos a img:hover{
    background-color:#610712;
}


/* ------- --- RADIO --- ------- */

#radio{
    height: 350px;
    padding: 50px;
    padding-bottom: 100px;
}
.radio h2::after{
    content:'';
    background: #a5091b;
    display: block;
    height: 3px;
    width: 170px;
    margin: 15px auto 20px;
}


/* ------- --- PODCASTS --- ------- */

#podcasts{
    padding-bottom: 100px;
}

/* ------- --- HORARIOS --- ------- */

#horarios {
    padding-bottom: 100px;
}
.horarios > * {
    padding: 10px 0;
}
.horarios p{
    font-weight: bold;
    font-size: 19px;
}


/* ------- --- CONTACTO --- ------- */

#contacto{
    padding:70px 0;
    padding-bottom: 100px;
}
.contacto h2{
    text-align:center;
    padding-bottom: 20px;
}
#contacto h2::after{
    content:'';
    background: #a5091b;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}
.contacto{
    display: grid;
    grid-template-rows: 100px 2fr;
    grid-template-columns: repeat(auto-fill,minmax(250px,1rf));
}
.contacto .mapa iframe{
    border:0;
    width:70vh;
    height:40vh;
}
.fa-envelope{
    color: rgb(52, 98, 136);
}
.fa-whatsapp{
    color:#25d366;
}
.fa-map-marker-alt{
    color:red;
}

@media only screen and (max-width: 768px){
    .contacto{
        display: grid;
        grid-template-columns: 1fr;
    }
    .contacto .mapa iframe{
        border:0;
        width:50vh;
        height:30vh;
    }
}

@media only screen and (min-width: 993px){
    .contacto h2{
        text-align:center;
        grid-area: 1/1/1/4;
        grid-auto-rows: 20px;
    }
    .contacto div:first-of-type{
        grid-area: 2/1/2/3;
    }
    .contacto .mapa{
        grid-area: 2/3/2/4;
    }
}


/* ------- --- FOOTER --- ------- */
footer{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 20px 0 0;
    background-color: rgb(48, 48, 48);
    color: rgb(196, 196, 196);
    text-align: center;
}
footer div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
footer div p{
    grid-area: 1 / 2 / 1 / 3;
}
footer div ul{
    grid-area: 1 / 3 / 1 / 4;
    list-style: none;
    display: inline-flex;   
    justify-content: center;
}
footer ul li{
    align-content: space-between;
    width: 25px;
}
footer ul li i{
    color: rgb(196, 196, 196);
}
footer ul li i:hover{
    color: rgb(255, 255, 255);
}

/* ------- --- VERSICULOS --- ------- */
.versiculo{
    color: maroon;
    font-family: Arial, Helvetica, sans-serif;
}